body {
    font-family: Arial;
	color: #211a1a;
	font-size: 0.9em;
}

.login_container {
    height: 50%;
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40%;
    align-items: center;
    font-weight: bold;
}

.user_info {
    height: 100px;
    width: 100%;
    text-align: right;
}

.menu_container {
    width: 100%;
    top: 20%;
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow-y: auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

.table_container {
    height: 50%;
    width: 80%;
    position: relative;
    left: 10%;
    align-items: center;
    text-align: center;
    border-color: black;
    overflow-y: auto;
}

.actions {
    padding-left: 30px;
    height: 50%;
    width: 90%;
    top: 70%;
    left: 10%;
}

input[type=text] {
    width: 220px;
    padding: 5px 8px
}

input[type=password] {
    width: 220px;
    padding: 5px 8px;
}

button{
    width: 90px;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  /* ############################### Cart Layout */
#shopping-cart {
	margin: 10px;
}

#product-grid {
    margin: 10px;
    height: 65%;
    overflow-y: auto;
}

#shopping-cart table {
	width: 100%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	background-color: #FFFFFF;
}

.txt-heading {
	color: #211a1a;
    border-bottom: 1px solid #E0E0E0;
    border-bottom-width: 90%;
    overflow: auto;
}

#btnEmpty {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

#btnCheckout {
	background-color: #ffffff;
	border: green 1px solid;
	padding: 5px 10px;
	color: green;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

#goLogin {
	background-color: #ffffff;
	border: green 1px solid;
	padding: 5px 10px;
	color: green;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

.btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: left;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}

.product-item {
    width: 200%;
	background: #ffffff;
	/*margin: 10px 10px 0px 0px;*/
	border: #E0E0E0 1px solid;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.tbl-cart {
    font-size: 0.9em;
}

.tbl-cart th {
	font-weight: normal;
}

.product-title {
	margin-bottom: 20px;
}

.product-price {
	float:left;
}

.cart-action {
	float: left;
}

.product-quantity {
    margin-left: 2px;
    width: 90px;
    padding: 10px 5px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    width: 100%;
    overflow: auto;
}

.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}

.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}

.checkout_btn {
    height: 30px;
    position: relative;
    bottom: 1px;
    float: left;
}

.goLogin_btn {
    height: 30px;
    position: relative;
    bottom: 1px;
    float: left;
}